[submodule "kernel"]
	path = kernel
	url = http://192.168.1.27/vpi/sel4.git
[submodule "seL4_tools"]
	path = seL4_tools
	url = https://github.com/seL4/seL4_tools.git
[submodule "seL4-CAmkES-L4v-dockerfiles"]
	path = seL4-CAmkES-L4v-dockerfiles
	url = https://github.com/SEL4PROJ/seL4-CAmkES-L4v-dockerfiles.git
[submodule "projects/picotcp"]
	path = projects/picotcp
	url = https://github.com/tass-belgium/picotcp.git
[submodule "projects/camkes"]
	path = projects/camkes
	url = https://github.com/seL4/camkes.git
[submodule "tools/seL4"]
	path = tools/seL4
	url = https://github.com/seL4/seL4_tools.git
[submodule "projects/camkes-tool"]
	path = projects/camkes-tool
	url = https://github.com/seL4/camkes-tool.git
[submodule "projects/global-components"]
	path = projects/global-components
	url = https://github.com/SEL4PROJ/global-components.git
[submodule "projects/seL4_projects_libs"]
	path = projects/seL4_projects_libs
	url = https://github.com/SEL4PROJ/seL4_projects_libs.git
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = https://github.com/seL4/musllibc.git
